.external-media-widget-wrapper .external-media-widget-urls {
  display: none;
}

.external-media-widget a.button.disabled {
  cursor: default;
}

button.dropbox-chooser {
  line-height: none !important;
}
